[color]
  ui = true
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[color "branch"]
  current = green reverse
  local = red
  remote = green
  upstream = cyan
[color "diff"]
  commit = green reverse
  frag = blue bold
  meta = black bold
  new = green bold
  old = red bold
  whitespace = white
[color "grep"]
  filename = white
  function = blue
  linenumber = cyan
  match = green
  matchContext = green
  matchSelected = green reverse
  selected = green
  separator = cyan
[color "interactive"]
  changed = green reverse
  error = red reverse
  help = blue reverse
  prompt = cyan bold
[color "status"]
  added = green bold
  branch = green reverse
  changed = green
  header = white
  nobranch = red
  unmerged = red
  untracked = yellow
[alias]
  lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(dim green)(%cr) %C(bold green)<%an>%Creset' --abbrev-commit
  lola = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(dim green)(%cr) %C(bold green)<%an>%Creset' --abbrev-commit --all
  ls = ls-files
  ignored = ls-files -o -i --exclude-standard
  undo = reset HEAD~1 --soft
